h2,p  {
    font-weight: normal;
    text-align: center;
    background-color: rgb(143, 140, 140)
}
.form-group {
    text-align: center;
    padding: .5%;
    background-color: rgb(199, 190, 179);
}
/* .example-section {
    margin: 12px 0;
  }
   */
  /* .example-margin {
    margin: 0 12px;
  } */
  ul {
    list-style-type: none;
    margin-top: 4px;
  }
  #personalinfobar{
    background-color: rgb(121, 116, 116);
    color: black;
    text-align: center;
    width: 100%
  }
  #gendermenu {
      background-color: rgb(121, 116, 116);
      color: black;
      text-align: center;
      width: 100%;
  }
  #racemenu{
    background-color: rgb(121, 116, 116);
    color: black;
    text-align: center;
    width: 100%;
  }
  #military{
    background-color: rgb(121, 116, 116);
    color: black;
    text-align: center;
    width: 100%;
  }
  #voluntary{
    background-color: rgb(121, 116, 116);
    color: black;
    text-align: center;
    width: 100%;
  }
  .title{
      position: relative;
      left: 350px;
      bottom: 90px;
  }
#check{
  font-size: medium;
}














