<!-- <p>form works!</p> -->




<div class="container">
    <div class="row">
      <div class="col-6">
        <img src="/assets/image/icon.jpeg" height= "150px" alt="">
       
        <h1 class="title">Bravo Code Academy</h1>
      </div>
    </div>

    <div>
      <div id="personalinfobar">
        <h4>Personal Information</h4>
      </div>
      <br>

      <div class="row">
        <div class="col-6">
          <div class="inputs">
          <label>Full Name:</label>
          <input [(ngModel)]="userInput" name = "userInput" class="nameinput">
          
          <label id="datelabel">Date:</label>
          <input [(ngModel)]="dateInput" name = "dateInput" class="dateinput" type="date">
        </div>
      </div>

      <div class="row">
        <!-- <div class="col-6"> -->
        <div class="inputs">
          <label>Address:</label>
          <input [(ngModel)]="addressInput" name = "addressInput" class="addressInput">
        </div>
        <div class="inputs">
            <label>City & State:</label>
          <input [(ngModel)]="cityInput" name = "cityInput" class="cityInput">
        </div>
    </div>
<!-- </div> -->
<br>
        <div class="col-3">
            <label>Phone</label>
                <mat-form-field appearance="outline">
                <input matInput
                [textMask]="{mask: phone}"/>
                </mat-form-field>
            </div>
         
            <div>
                <mat-form-field appearance="fill">
                  <mat-label>Enter your email</mat-label>
                  <input matInput placeholder="pat@example.com" [formControl]="email" required>
                  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>

        <div class="inputs">
          <label>Cohort Start Date:</label>
        
            <input id="cohortdate" type="date">

            <label>Social Security No:</label>
            <input [(ngModel)]= "ssInput" name="ssInput" class="ssInput" [textMask]="{mask: ss}"/>

          <!-- <label>Social Security No:</label>
          <input [(ngModel)]= "ssInput" name="ssInput" class="ssInput"> -->

          <label>Birthdate:</label>
          <input [(ngModel)]= "bdInput" name="bdInput" class="bdInput" type="date">
        </div>
      
       <div class="row">
         <div class="col">
        <div class="inputs" id="checkbox">
          <small id="check">Are you a citizen of the United States?</small>
        </div>
        <div class="col">
          <mat-radio-group aria-label="citizen">
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="2">No</mat-radio-button>
          </mat-radio-group>
          <!-- <label>Yes</label>
          <input type="checkbox">
          <label>No</label>
          <input type="checkbox"> -->
        </div>


          <small id="check">If no, are you authorized to work in the U.S.?</small>
          <div class="col">
          <mat-radio-group aria-label="citizen">
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="2">No</mat-radio-button>
          </mat-radio-group>
          <!-- <label>Yes</label>
          <input type="checkbox">
          <label>No</label>
          <input type="checkbox"> -->
        </div>
        </div>
      </div>
        <br>
        <div class="row">
            <div class="col">
        <div class="inputs">
          Emergency
          Contact
          Name:
          <input [(ngModel)]= "eInput" name="eInput" class="eInput">
          <!-- <div class="col-3"> -->
            <label>Emergency Contact Phone</label>
                <mat-form-field appearance="outline">
                <input matInput
                [textMask]="{mask: phone}"/>
                </mat-form-field>
            <!-- </div> -->
        </div>

        <div>
        <label for="maritalStatus">Marital Status:</label>
        
                    <select name="maritalStatus" id="maritalStatus">
                        <option value="single">Single</option>
                        <option value="married">Married</option>
                        <option value="divorced">Divorced</option>
                        <option value="widowed">Widowed</option>
                    </select>
         </div>
        <br>            
        <br>
        <div id="military" >
            <h4>Military Status</h4>
          </div>
          <div id="centerText">
        <br>   

        <div class="inputs">
            <!-- <label>Military Status:</label> -->
            <label>Branch:</label>
            <input [(ngModel)]= "rankInput" name="rankInput" class="rankInput">
            <label>From:</label>
            <input [(ngModel)]= "fromInput" name="fromInput" class="fromInput" type="date">
            <label>To:</label>
            <input [(ngModel)]= "toInput" name="toInput" class="toInput" type="date">
          </div>
        <br>  

        <div id="voluntary" >
          <h4>Voluntary Self-Identification</h4>
        </div>
        <div id="centerText">
          <i>
            <small>Completion of this portion of the form is voluntary and will not affect your elibility to program, or the terms or conditions of your participation. This form will be used for reporting purposes only.</small>
          </i>
        </div>
        <br>
        <div id="gendermenu">
            <h4>Gender:</h4>
            <h5>(Please check one of the options)</h5>
        </div>
        <div class="container">
          <input type="checkbox" id="female">
          <label class="gender">Female</label>
          <input type="checkbox" id="male">
          <label class="gender">Male</label>
          <input type="checkbox" id="other">
          <label class="gender">Other</label>
          <input type="checkbox" id="nod">
          <label class="gender">I do not wish to disclose</label>
        </div>
    </div>
        <br>
        <div id="racemenu">
          <h4>Race/Ethnicity:</h4>
          <h5>Please check one of the descriptions below correponding to the race/ethnic group with which you identify</h5>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-9">
            Hispanic / Latino
      </div>
          <div class="col-3">
            <input type="checkbox">
        </div>

      <div class="container">
        <div class="row">
            <div class="col-9">
                White
            </div>
            <div class="col-3">
                <input type="checkbox">
            </div>

      <div class="container">
        <div class="row">
            <div class="col-9">
                Black / African American
            </div>
            <div class="col-3">
                <input type="checkbox">
            </div>
     <div class="container">
        <div class="row">
            <div class="col-9">
                Asian
            </div>
            <div class="col-3">
                 <input type="checkbox">
            </div>

     <div class="container">
        <div class="row">
            <div class="col-9">
                 I do not wish to disclose
             </div>
            <div class="col-3">
                 <input type="checkbox">
            </div>
          <hr>
         
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <button (click)="submitInfo()">Submit</button>
</div>



<!-- <div class="container">
  <div class="row">
    <div class="col-6">
      <img src="/assets/image/icon.jpeg" height= "150px" alt="">
    </div>
    <div class="col-6">
      <h1 class="title">Bravo Code Academy</h1>
    </div>
  </div> -->
  <!-- last div -->

  <!-- <div class="row">
    <div class="col-6">
      Are you a citizen of the United States?
    </div>
    <div class="col-6">
      <label for="yes">Yes</label>
      <input type="checkbox" name="yes" id="yes">
      <label for="no">No</label>
      <input type="checkbox" name="no" id="no">
    </div>
</div> -->

<!-- <div class="row">
    <div class="col-6">
        If no, are you authorized to work in the U.S.?
    </div>
    <div class="col-6">
        <label for="yes">Yes</label>
        <input type="checkbox" name="yes" id="yes">
        <label for="no">No</label>
        <input type="checkbox" name="no" id="no">
    </div>
</div>
</div> -->



  <!-- <small id="check">If no, are you authorized to work in the U.S.?</small>
          <label for="yes">Yes</label>
          <input type="checkbox" name="yes" id="yes">
          <label for="no">No</label>
          <input type="checkbox" name="no" id="no"> -->



          <!-- <label>Yes</label>
          <input type="checkbox">
          <label>No</label>
          <input type="checkbox"> -->
        <!-- </div> -->
    <!-- </div> -->















  <!-- <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->




<!-- <div class="">
    <h2>Personal Information</h2>
</div> -->



<!-- **** -->
<!-- <div class="container" id="formsgroup">
    <div class="card" style="width: auto;">
    <h2>Personal Information</h2>
</div>

<form>
    <div class="container" style="width: auto;">
    <div class="form-group">

        <label>Last Name:</label>
        <input type="text" class="form-control col-6" name="name">
    </div>

    <div class="form-group">
        <label>First Name:</label>
        <input type="text" class="form-control" name="name">
    </div>

    <div class="form-group">
        <label>Date</label>
        <input type="text" class="form-control" name="date">
    </div>
    
    <div class="form-group">
        <label>Address</label>
        <input type="text" class="form-control" name="address">
    </div>

    <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" name="city">
    </div>

    <div class="form-group">
        <label>State</label>
        <input type="text" class="form-control" name="state">
    </div>

    <div class="form-group">
        <label>Zip Code</label>
        <input type="text" class="form-control" name="state">
    </div>

    <div class="form-group">
        <label>Phone</label>
        <input type="text" class="form-control" name="state">
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email">
    </div>

    <div class="form-group">
        <label>StartDate</label>
        <input type="text" class="form-control" name="">
    </div>

    <div class="form-group">
        <label>Social Security No.</label>
        <input type="text" class="form-control" social security no="">
    </div>

    <div class="form-group">
        <label>Birthdate</label>
        <input type="text" class="form-control" birthdate="">
   
    </div>
    </div>    
</form> -->




<!-- <div>
    <div>
      <input [(ngModel)]="userInput" name = "userInput">
    <button (click)="submitInfo()">Submit</button>
    </div>
  </div> -->

  <!-- <div class="col-3">
  <label> Last Name</label>
    <mat-form-field appearance="outline">
    <input matInput
    [(ngModel)]="lastName"
    pladceholder="Last Name"
    [value]="lastName"
    [disabled]=readOnly/>    
    </mat-form-field>
  </div>

  <div class="col-3">
    <label> First Name</label>
      <mat-form-field appearance="outline">
      <input matInput
      [(ngModel)]="firstName"
      pladceholder="First Name"
      [value]="firstName"
      [disabled]=readOnly/>    
      </mat-form-field>
    </div> -->

    <!-- <div class="col">
        <label>
            Date
        </label>
        <div class="row" style="width: auto; margin: 0">
        <mat-form-field style="color:darkgrey" appearance="outline">
            <input [(ngModel)]="createdDateRange" [selectMode]="'range'"[owlDateTimeTrigger]="pickder"
            [owlDateTime]="picker" matInput  class="form-control form-control-sm date-picker"/>
            <owl-date-time [pickerType]="'calendar'" #picker></owl-date-time>
        </mat-form-field>
        </div>
    </div> -->
